
/*font-family: 'Raleway', sans-serif;
font-family: 'Sawarabi Mincho', sans-serif; */

body {
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	background-color: #f2f5f9;
	font-family: 'Sawarabi Mincho', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
	position: relative;
	top: 40%;
	margin-left: 25px;
	margin-right: 10px;
}

/* Name and Nav */
#profile-top {
	margin-top: -10px;
	margin-left: -10px;
	width: 101vw;
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: 50px repeat(4, 150px) 300px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav {
	display: inline-block;
	padding: 20px;
	margin: 0 20px;
}
.nav:hover {
	text-decoration: underline;
	background-color: gray;
}

.name-header {
	border-radius: 20px;
	font-size: 10.5vw;
	grid-column: 2 / span 6;
	grid-row: 2;
	text-align: center;
	z-index: -2;
}

#letter-k {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
	margin-top: 9.9vw;
	margin-left: 2.59vw;
	width: 9.75vw;
	opacity: 0;
  	animation: fade-in-left ease 1.5s forwards;
  	animation-delay: 0.8s;
}

#letter-g {
	grid-column: 5;
	grid-row: 2;
	text-align: center;
	margin-top: 10.3vw;
	margin-left: 3.4vw;
	width: 9vw;
	opacity: 0;
  	animation: fade-in-left ease 1.5s forwards;
  	animation-delay: 0.8s;
}

#tagline {
	grid-row: 3;
	font-size: 1.6vw;
	grid-column: 5 / span 3;
	margin-top: 20%;
	margin-left: -20px;
}


/* Contact Me */
#profile-center {
	margin: 0 auto;
	width: 80vw;
	display: grid;
	grid-template-columns:  35% 30% 5% 30%;
	grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
}


#contact-info {
	justify-content: center;
	grid-row: 6;
	height: 300px;
	display: flex;	
	flex-direction: row;
	background-color: #c03740;
	color: #f2f5f9;
	width: 101vw;
	fill: #f2f5f9;
}

#contact-info p {
	text-align: center;
	margin-top: -10px;
}

#contact-info i {
	color: #f2f5f9;
}

.contact-link {
	margin-left: 10px;
	fill: #f2f5f9;
}

i {
	margin-bottom: -10px;
}

.contact-link:hover {
	text-decoration: underline

}

a {
	color: #f2f5f9;
	text-decoration: none;
	font-weight: bold;
}

svg {
	width: 25px;
	fill: #f2f5f9;
}

/* Projects */

#projects {
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr) ;
	grid-template-rows: 40px repeat(minmax(min-content, max-content));
}

#projects-header {
	grid-column: 1;
	grid-row: 1;
}

.accordion {
    background-color: #c03740;
    color: #f2f5f9;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 16px;
    padding: 18px;
    width: 80vw;
    text-align: left;
    border: none;
    outline: none;
    transition: .6s;
}

/* Add a background color if active or hover */
.active, .accordion:hover {
    background-color: #f9c261;
    color: black;
}

/* Style the accordion panel. */
.panel {
	width: 77vw;
    padding: 0 18px 0 18px ;
    background-color: #f9d086;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.project-pic {
	width: 33%;
	box-shadow: 2px 2px 5px #cfd6cf;
}

.summary-1 {
	margin-top: 8vh;
	font-weight: bold;
	font-size: 18px;
}

button .material-icons {
	font-size: 28px;
	float: right;
}

/* PROJECT 1 grid alignment and style */

#project-1-title {
	grid-row: 2;
	grid-column: 1 / span 3;

}

.p-links-1 {
	text-align: right;
	grid-column: 3;
	grid-row: 2;
}

.project-1-pic {
	grid-column: 1 / span 3;
	grid-row: 3;
	margin-bottom: 10px;
}

.project-1-text {
	grid-column: 1 /span 3;
	grid-row: 4;
	margin-bottom: -13vh;
}

h3 i {
	color: black;
}

/* PROJECT 2 grid alignment and style */

#project-2-title {
	grid-row: 5;
	grid-column: 1 / span 5;
	padding-top: 100px;
}
.p-links-2 {
	text-align: right;
	grid-column: 3;
	grid-row: 5;
	padding-top: 100px;
}

.project-2-pic {
	grid-column: 1 / span 3;
	grid-row: 6;
	margin-bottom: 10px;
}

.project-2-text {
	grid-column: 1 /span 3;
	grid-row: 7;
	margin-bottom: -13vh;
}

/* PROJECT 3 grid alignment and style */

#project-3-title {
	grid-row: 8;
	grid-column: 1 / span 5;
	padding-top: 100px;
}
.p-links-3 {
	text-align: right;
	grid-column: 3;
	grid-row: 8;
	padding-top: 100px;
}

.project-3-pic {
	grid-column: 1 / span 3;
	grid-row: 9;
	margin-bottom: 10px;
}

.project-3-text {
	grid-column: 1 /span 3;
	grid-row: 10;
	margin-bottom: -13vh;
}

/* PROJECT 4 grid alignment and style */

#project-4-title {
	grid-row: 11;
	grid-column: 1 / span 5;
	padding-top: 100px;
}
.p-links-4 {
	text-align: right;
	grid-column: 3;
	grid-row: 11;
	padding-top: 100px;
}

.project-4-pic {
	grid-column: 1 / span 3;
	grid-row: 12;
	margin-bottom: 10px;
}

.project-4-text {
	grid-column: 1 /span 3;
	grid-row: 13;
	margin-bottom: -13vh;
}

/* PROJECT 5 grid alignment and style */

#project-5-title {
	grid-row: 14;
	grid-column: 1 / span 5;
	padding-top: 100px;
}
.p-links-5 {
	text-align: right;
	grid-column: 3;
	grid-row: 14;
	padding-top: 100px;
}

.project-5-pic {
	grid-column: 1 / span 3;
	grid-row: 15;
	margin-bottom: 10px;
}

.project-5-text {
	grid-column: 1 /span 3;
	grid-row: 16;
	margin-bottom: -13vh;
}

footer {
	width: 100vw;
	height: 60px;
	background-color: black;
	margin-top: 100px;
}


.in-text {
	color: black;
	text-decoration: underline;
}


header {
	color: #f2f5f9;
	background-color: black;
	grid-row: 1;
	grid-column: 1 / span 8;
	text-align: center;
}


#mobile-name, #mobile-floral {
	display: none
}


@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes grow-down {
  from {
    transform: height(0);
  }
  to {
    transform: height(1);
  }
}

#wheel {
	grid-column: 1;
	max-width: 90%;
	grid-row: 1;
	-webkit-animation: rotation 40s infinite linear;
	animation-play-state: paused;
}
#profile {
	grid-column: 1;
	grid-row: 1;
	max-width: 90%;
	z-index: -1;
}

#wheel:hover {
	max-width: 92%;
	-webkit-animation: rotation 40s infinite linear;
	animation-play-state: running;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.column-1 {
	grid-column: 2;
	grid-row: 1 / span 2;
 
}

.column-2 {
	grid-column: 4;
	grid-row: 1 / span 2; 
}


div {
	margin-bottom: 100px;
}

/* MOBILE RESPONSIVE SETTINGS */

@media only screen and (max-width: 500px) {
	html, body {
  		overflow-x:hidden 
	} 

	body {
		position: absolute;
		width: 100vw;
		word-break: break-word;
		background-color: white;
	}

	/* NAME and HEADER css */

	#mobile-name, #mobile-floral {
		display: block;
		width: 80vw;
		grid-column: 2 / span 5;
		grid-row: 3;
		margin-top: 3vh;
	}
	#mobile-floral {
		opacity: 0;
	  	animation: fade-in-left ease 1.5s forwards;
	  	animation-delay: 0.8s;
	  }

	.nav {
		display: block;
		background-color: black;
		width: 110%;
		margin: 0;
		margin-right: -10px;
		font-size: 3.75vw;
	}

	#profile-top {
		grid-template-rows: 50px repeat(5, 150px);
		height: 140vh;
	}

	.name-header {
		display: none;
	}

	#letter-k {
		display: none;
	}

	#letter-g {
		display: none;
	}

	#tagline {
		grid-row: 5;
		font-size: 5vw;
		grid-column: 3 / span 5;
		margin-top: 2vh;
		margin-left: -20px;
		text-align: center;
	}

	#contact-info {
		margin-top: 3vh;
		padding-bottom: 3vh;
		display: block;
		align-items: center;
		text-align: center;
		width: 103vw;
		height: 44vh;
		color: #f2f5f9;
	}

	#contact-info p {
		margin-bottom: 4vh;
	}

	#contact-info p:first-child {
		margin-top: -10vh;
	}

	/* ABOUT ME css */
    #profile-center {
    	margin-top: 12vh;
       	width: 100vw;
       	display: inline-block;
       	padding-bottom: 5vh;
    }
    .column-1 {
    	width: 90vw;
    	display: block;
    	font-size: 24px;
    	margin: 0 auto;
    
	}
	.column-2 {
		width: 90vw;
		display: block;
		font-size: 24px;
		margin: 0 auto;
		margin-top: -40px;
		
	}
	#wheel {
		width: 50vw;
		margin-bottom: -51vw;
		margin-left: 25vw;
		
	}
	#profile {
		width: 50vw;
		z-index: -1;
		margin-left: 25vw;
	}
	div {
	margin-bottom: 10px;
	}

	/* PROJECTS CSS */
	#projects {
		margin: 0 auto;
		margin-top: 30vh;
		display: block;
	}

	#projects h3 {
		font-size: 24px;
	}

	#projects h2 {
		font-size: 32px;
		margin-bottom: -15vh; 
	}

	#project-1-title, #project-2-title, #project-3-title, #project-4-title  {
		padding-top: 15vh;
		margin-bottom: 0px;
	}

	.p-links-2, .p-links-3, .p-links-4 {
		margin-top: -7vh;
		text-align: left;
	}
	.p-links-1 {
		margin-top: 0px;
		text-align: left;
	}

	.project-1-text{
		max-height: 1250px;
	}

	.summary-1 {
		margin-bottom: 2vh;
		font-size: 22px;
		max-height: 1300px;
	}

	.accordion button {
		width: 80vw;
	}

	.panel {
		font-size: 18px;
		width: 80vw;
		padding-left: 0;
		padding-right: 0;
	}

	.project-pic {
		width: 80vw;
	}


}
}

