/*font-family: 'Raleway', sans-serif;
font-family: 'Sawarabi Mincho', sans-serif; */

#homepage {
	background-color: #dce8dc;
	height: 100vh;
	width: 100vw;
	text-align: center;
	
}

h1, h3, p {
	font-family: 'Sawarabi Mincho', sans-serif;
	
}

h1 {
	font-size: 110px;
	padding: 20px;
}

h3 {
	margin-left: 25px;
}
.about-me {
	width: 100vw;
	height: 100vh;
	font-family: 'Sawarabi Mincho', sans-serif;

}

#bio {
	background-color: #dce8dc;
	margin-top: 20vh;
	margin-right: 6vw;
	margin-left: 4vw;
	
	float: left;
	width: 40vw;
	height: 60vh;


}

#profile-pic {
	background-color: #dce8dc;
	margin-top: 15vh;
	
	float: left;
	width: 45vw;
	height: 70vh;
}

#skills {
	background-color: #dce8dc;
	margin-right: 6vw;
	margin-top: 10vh;
	margin-left: 4vw;
	
	float: left;
	width: 40vw;
	height: 80vh;
}
#contact-info {
	background-color: #dce8dc;
	margin-top: 30vh;

	float: left;
	width: 45vw;
	height: 40vh;
}

p {
	font-family: 'Raleway', sans-serif;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	margin-left: 25px;
	margin-right: 10px;
}

#projects {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.show-box {
	background-color: #dce8dc;
	height: 300px;
	width: 500px;
	margin: 20px;
	flex-direction: row;
}

div {
	margin-bottom: 200px;
}