
/*font-family: 'Raleway', sans-serif;
font-family: 'Sawarabi Mincho', sans-serif; */

body {
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	background-color: white;
	font-family: 'Sawarabi Mincho', sans-serif;
}

#profile-top {
	margin-top: -10px;
	margin-left: -10px;
	width: 101vw;
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
	grid-template-rows: 50px repeat(6, 150px);
}

#profile-center {
	margin: 0 auto;
	width: 80vw;
	display: grid;
	grid-template-columns:  35% 30% 5% 30% ;
	grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
}

#projects {
	width: 80vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 330px 330px 330px ;
	grid-template-rows: 40px repeat(minmax(min-content, max-content));
}

footer {
	width: 100vw;
	height: 60px;
	background-color: black;
	margin-top: 100px;
}

#projects-header {
	grid-column: 1;
	grid-row: 1;
}

.tools {
	margin-top: -80px;
	margin-left: -1px;
}

.in-text {
	color: black;
	text-decoration: underline;
}

#project-1-title {
	grid-row: 2;
	grid-column: 1 / span 3;

}

.p-links-1 {
	text-align: right;
	grid-column: 3;
	grid-row: 2;
	margin-right: 80px;
}

.project-1-pic {
	grid-column: 1 / span 3;
	grid-row: 3;

}

.project-1-text {
	grid-column: 1 /span 3;
	grid-row: 4;
}

.project-pic {
	width: 300px;
	box-shadow: 2px 2px 5px gray;
}

.project-pic:hover {
	width: 305px;
	box-shadow: 2px 2px 5px black;
}


#project-2-title {
	grid-row: 5;
	grid-column: 1 / span 5;
	padding-top: 50px;
}
.p-links-2 {
	text-align: right;
	grid-column: 3;
	grid-row: 5;
	padding-top: 50px;
	margin-right: 80px;
}

.project-2-pic {
	grid-column: 1 / span 3;
	grid-row: 6;
}

.project-2-text {
	grid-column: 1 /span 3;
	grid-row: 7;
}

#project-3-title {
	grid-row: 8;
	grid-column: 1 / span 5;
	padding-top: 50px;
}
.p-links-3 {
	text-align: right;
	grid-column: 3;
	grid-row: 8;
	padding-top: 50px;
	margin-right: 80px;
}

.project-3-pic {
	grid-column: 1 / span 3;
	grid-row: 9;
}

.project-3-text {
	grid-column: 1 /span 3;
	grid-row: 10;
}
#project-4-title {
	grid-row: 11;
	grid-column: 1 / span 5;
	padding-top: 50px;
}
.p-links-4 {
	text-align: right;
	grid-column: 3;
	grid-row: 11;
	padding-top: 50px;
	margin-right: 80px;
}

.project-4-pic {
	grid-column: 1 / span 3;
	grid-row: 12;
}

.project-4-text {
	grid-column: 1 /span 3;
	grid-row: 13;
}

header {
	color: white;
	background-color: black;
	grid-row: 1;
	grid-column: 1 / span 8;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

nav:hover {
	text-decoration: underline;
	background-color: gray;
}

.nav {
	display: inline-block;
	padding: 13px;
	margin-right: 10vw;

}


.summary-1 {
	margin-top: 50px;
}


.name-header {
	border-radius: 20px;
	font-size: 10.5vw;
	grid-column: 2 / span 6;
	grid-row: 2;
	text-align: center;
	z-index: -2;
}

#letter-k {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
	margin-top: 10vw;
	margin-left: 2.59vw;
	width: 9.75vw;
	opacity: 0;
  	animation: fade-in-left ease 1.5s forwards;
  	animation-delay: 0.8s;
}

#letter-g {
	grid-column: 5;
	grid-row: 2;
	text-align: center;
	margin-top: 10.3vw;
	margin-left: 3.4vw;
	width: 9vw;
	opacity: 0;
  	animation: fade-in-left ease 1.5s forwards;
  	animation-delay: 0.8s;
}

#tagline {
	grid-row: 3;
	font-size: 1.6vw;
	grid-column: 5 / span 3;
	margin-top: 20%;
	margin-left: -20px;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.contact-link {
	display: inline-block;
	margin-left: 10px;
	color: black;
}

i {
	margin-bottom: -10px;
}

.contact-link:hover {
	font-weight: bold;

}

.material-icons {
	font-size: 100px;
	color: black;
}


#wheel {
	grid-column: 1;
	max-width: 90%;
	grid-row: 1;
	-webkit-animation: rotation 40s infinite linear;
	animation-play-state: paused;
}
#profile {
	grid-column: 1;
	grid-row: 1;
	max-width: 90%;
	z-index: -1;
}

#wheel:hover {
	max-width: 92%;
	-webkit-animation: rotation 40s infinite linear;
	animation-play-state: running;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.column-1 {
	grid-column: 2;
	grid-row: 1 / span 2;
 
}

.column-2 {
	grid-column: 4;
	grid-row: 1 / span 2;
 
}

#skills {
	grid-row: 9;
	background-color: #dce8dc;
	margin-right: 6vw;
	margin-top: 10vh;
	margin-left: 4vw;
	width: 40vw;
	height: 80vh;
}

.contact-info {
	grid-row: 6;
	display: grid;
	align-items: center;
	text-align: center;
	grid-template-rows: 100px;
	grid-template-columns: 1fr 100px 200px 150px 120px 1fr;
	background-color: #dce8dc;
	width: 100vw;
	height: 45vh;
}

p {
	font-family: 'Raleway', sans-serif;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	margin-left: 25px;
	margin-right: 10px;
}


.show-box {
	background-color: #dce8dc;
	height: 300px;
	width: 500px;
	margin: 20px;

}


div {
	margin-bottom: 100px;
}

/* MOBILE RESPONSIVE SETTINGS */

@media only screen and (max-width: 500px) {
	html, body {
  		overflow-x:hidden 
	} 

	body {
		position: absolute;
		width: 100vw;
		color: red;
		word-break: break-word;
	}

	/* NAME and HEADER css */
	.nav {
		display: block;
		background-color: black;
		width: 100vw;
	}

	#profile-top {
		grid-template-rows: 50px repeat(5, 150px);
		height: 160vh;
	}

	.name-header {
		color: black;
		font-size: 25vw;
		width: 100vw;
		grid-column: 1 / span 5;
		grid-row: 3;
		text-align: center;
		z-index: -3;
	}

	#letter-k {
		grid-column: 1;
		grid-row: 4;
		text-align: center;
		margin-top: -13.5vw;
		margin-left: 7vw;
		width: 24vw;

		opacity: 0;
	  	animation: fade-in-left ease 1.5s forwards;
	  	animation-delay: 0.8s;
	}

	#letter-g {
		grid-column: 3;
		grid-row: 5;
		text-align: center;
		margin-top: -11vw;
		margin-left: -14vw;
		width: 21vw;

		opacity: 0;
	  	animation: fade-in-left ease 1.5s forwards;
	  	animation-delay: 0.8s;
	}

	#tagline {
		grid-row: 6;
		font-size: 5vw;
		grid-column: 3 / span 5;
		margin-top: 10%;
		margin-left: -20px;
		text-align: center;
	}

	.contact-info {
		margin-top: 30vh;
		display: block;
		align-items: center;
		text-align: center;
		background-color: #dce8dc;
		width: 103vw;
	}

	.contact-info p:first-child {
		margin-top: -10vh;
	}

	/* ABOUT ME css */
    #profile-center {
    	margin-top: 20vw;
       	width: 100vw;
       	display: inline-block;
    }
    .column-1 {
    	width: 90vw;
    	display: block;
    	font-size: 24px;
    	margin: 0 auto;
    
	}
	.column-2 {
		width: 90vw;
		display: block;
		font-size: 24px;
		margin: 0 auto;
		margin-top: -40px;
		
	}
	#wheel {
		width: 50vw;
		margin-bottom: -51vw;
		margin-left: 25vw;
		
	}
	#profile {
		width: 50vw;
		z-index: -1;
		margin-left: 25vw;
	}
	div {
	margin-bottom: 10px;
	}

	/* PROJECTS CSS */
	#projects {
		margin: 0 auto;
		margin-top: 30vh;
		display: block;
	}

	#projects h3 {
		font-size: 24px;
	}

	#projects h2 {
		font-size: 32px;
	}

	.p-links-2, .p-links-3, .p-links-4 {
		margin-top: -7vh;
		text-align: left;
	}
	.p-links-1 {
		margin-top: 0px;
		text-align: left;
	}

	.tools {
		margin-top: 7vh;
		font-size: 5vw;
	}

	details {
		margin-top: -10vh;
	}

	details p {
		font-size: 18px;
	}

	.summary-1 {
		margin-top: 21vh;
	}

	.summary-2 {
		margin-top: 23vh;
	}

	.summary-3 {
		margin-top: 16vh;
	}

	.summary-4 {
		margin-top: 11vh;
	}

	.project-pic {
		width: 80vw;
	}


}
}
